/* *********** */
/* CSS Reset */
/* *********** */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
ul,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  font-weight: 400;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color:inherit;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}


/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  color: hsl(var(--color-white));
  background-color: hsl(var(--color-dark));
}

:root {

  /* Colors */

  --color-dark: 230 35% 7%;
  --color-light: 231 77% 90%;
  --color-white: 0 0% 100%;

  /* Font Size */
  /* Tablet */
  --fs-900: 9.375rem;
  --fs-800: 5rem;
  --fs-700: 2.5rem;
  --fs-600: 2rem;
  --fs-500: 1.5rem;
  --fs-400: 1.25rem;
  --fs-300: 1.75rem;
  --fs-250: 1rem;
  --fs-300: .875rem;
  --fs-200: 1rem;
  --fs-100-nav: .875rem;

  /* Font Family */

  --ff-Barlow-Cond: 'Barlow Condensed', sans-serif;
  --ff-Barlow: 'Barlow', sans-serif;
  --ff-Belle: 'Bellefair', serif;
}

@media(max-width:35rem) {
  :root {
    /* Font Size */
    /* Mobile */

    --fs-900: 5rem;
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1.25rem;
    --fs-500: 1rem;
    --fs-400: 1rem;
    --fs-300: 1.75rem;
    --fs-250: .9375rem;
    --fs-200: .875rem;
    --fs-100: .9375rem;
    --fs-100-nav: 1rem;
  }

}

@media(min-width:56rem) {
  :root {
    /* Font Size */
    /* Desktop */
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 2rem;
    --fs-400: 1.75rem;
    --fs-300: 1.75rem;
    --fs-200: .875rem;
    --fs-250: 1.125rem;
    --fs-100: 1rem;
    --fs-100-nav: 1rem;
  }
}

/* ************** */
/* Utility Classes */
/* ************** */

/* General */

.flex {
  display: flex;
  gap: var(--gap, 1rem);

}

.flex--column {
  flex-direction: column;
}

/* Grid */

.grid {
  display: grid;
  gap: var(--gap, 1rem);
  place-items: center;
  text-align: center;
  margin-block: 2rem;
  grid-template-areas: 
  "title"
  "image"
  "indicators"
  "content";
  
}

.grid > h1 {
  grid-area: title;
  line-height: 2;
}

.grid > article {
  grid-area: content
}

.grid > p {
  max-width: 55ch;
  align-self: start;
}

.skip-to-content {
  position: absolute;
  z-index: 9999;
  left: 0;
  top:0;
  background-color: hsl(var(--color-white) );
  color: hsl(var(--color-dark));
  padding: .3rem;
  transition: transform 250ms ease-in;
  transform: translateY(-100%);
  cursor: pointer;
  text-decoration: underline;

}
.skip-to-content:focus {
  transform: translateY(0);
}

@media(min-width:35rem) {
  .grid > h1 {
    justify-self: start;
  }
}

@media(min-width:56rem) {
  .grid {
    grid-template-columns: 2rem 1fr 1fr 2rem;
    margin-top: clamp(2rem, 10vw, 10rem);
    text-align: start;
    --gap: 2rem;
    --flow-space: 0rem;
  }

}

.container {
  margin-inline: auto;
  padding-inline: 2rem;
  max-width: 90rem;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.d-block {
  display: block;
}

/* ScreenReader  */

.sr-only {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; 
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Colors */
/* ***** */
/* Fonts */

.f-c-dark { color: hsl(var(--color-dark)) }
.f-c-light { color: hsl(var(--color-light)) }
.f-c-white { color: hsl(var(--color-white)) }

/* Backgrounds */

.bg-c-dark { background-color: hsl(var(--color-dark)) }
.bg-c-light { background-color: hsl(var(--color-light)) }
.bg-c-white { background-color: hsl(var(--color-white)) }

/* Fonts */

.ff-barlow { font-family: var(--ff-Barlow-Cond) }
.ff-barlow-reg { font-family: var(--ff-Barlow) }
.ff-belle { font-family: var(--ff-Belle) }

/* Typography */
/* Font Size */

.fs-900 { font-size: var(--fs-900) }
.fs-800 { font-size: var(--fs-800) }
.fs-700 { font-size: var(--fs-700) }
.fs-600 { font-size: var(--fs-600) }
.fs-500 { font-size: var(--fs-500) }
.fs-400 { font-size: var(--fs-400) }
.fs-300 { font-size: var(--fs-300) }
.fs-250 { font-size: var(--fs-250) }
.fs-200 { font-size: var(--fs-200) }
.fs-200 { font-size: var(--fs-200) }
.fs-100 { font-size: var(--fs-100) }
.fs-100-nav { font-size: var(--fs-100-nav) }

/* Letter Spacing */

.letter-spacing-475 { letter-spacing: 4.75px }
.letter-spacing-3375 { letter-spacing: 3.375px }
.letter-spacing-270 { letter-spacing: 2.70px }
.letter-spacing-235 { letter-spacing: 2.35px }

/* UpperCase */

.upper-case { text-transform: uppercase }

/* Max width */
.max-width-45ch { max-width: 47ch }

/************/
/*Components*/
/************/

.index-grey {
  color: hsl(var(--color-light) / .25);
  margin-right: .3em;
}

.indicators > * {
  cursor: pointer;
  padding: var(--underline-gap, 1.5rem) 0;
  border: 0;
}

.grid--destination .underline-indicators .active,
.grid--destination .underline-indicators [aria-selected="true"]  {
border-bottom: 2px solid  hsl(var(--color-light) / 1);
}

@media(min-width:35rem) {
  .primary-header .underline-indicators .active, 
  .primary-header .underline-indicators [aria-selected="true"] {
    border-bottom: 2px solid  hsl(var(--color-light) / 1);
  }

}

.underline-indicators > *:hover {
  border-bottom: 2px solid  hsl(var(--color-light) / .5);
}

.underline-indicators > * {
  border-bottom: 2px solid  hsl(var(--color-light) / 0);
}

/* Explore Button */
.explore-button {
  z-index: 2;
  position: relative;
  display: inline-grid;
  border-radius: 50%;
  aspect-ratio: 1;
  place-items: center;
  padding: 1.5em;
  
}

.explore-button::after {
  z-index: 3;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: hsl(var(--color-white) );
  border-radius: 50%;
  opacity: 0;
  transition: 
    opacity 500ms linear, 
    transform 750ms ease-in-out;
}

.explore-button:hover::after,
.explore-button:focus::after {
  opacity: .15;
  transform: scale(1.6);
}

/* Tabs indicators */

.tabs-indicators > * {
  background: none;
  --underline-gap: .3rem;
}
.tabs-indicators > [aria-selected="true"] {
  color: hsl(var(--color-white));
  
}

/* Dots indicators */

.dots-indicators > * {
  border: none;
  background: hsl(var(--color-white) /.1);
  padding: clamp(.625rem, 2vw , .9375rem);
  border-radius: 50%;
  --underline-gap: .3rem;
}

.dots-indicators > *:hover {
  background: hsl(var(--color-white) /.5);
}

.dots-indicators > [aria-selected="true"] {
  background: hsl(var(--color-white));
  
}


.buttons-indicators {
  grid-template-columns: repeat(3, min-content);
  justify-content: center;

}

.buttons-indicators > * {
  width: clamp(2.5rem, 10vw, 5rem);
  line-height: 1;
  --underline-gap: 0rem;
  display: inline-grid;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid hsl(var(--color-white) /.3);
  place-items: center;

}

.buttons-indicators > *:hover {
  border: 1px solid hsl(var(--color-white) /1);
}
.buttons-indicators > [aria-selected="true"]  {
  background-color: hsl(var(--color-white) /1);
  color: hsl(var(--color-dark))
}

/* Navigation */

.primary-header {
  justify-content: space-between;
}

.nav-button {
  display: none;
}

.logo {
  align-self: center;
}

.primary-navigation span {
  font-weight: bold;
  margin-right: .5em;
}

nav .opened-navigation {
  transform: translateX(0);
}
@supports (backdrop-filter: blur(1.5rem)) {
  .primary-navigation {
    backdrop-filter: blur(1.5rem);
  }
}

@media(max-width:35rem) {
  .primary-navigation {
    padding-top: 5em;
    --gap: 0rem;
    flex-direction: column;
    position: fixed;
    background-color: hsl(var(--color-dark) /0.1);
    inset: 0 0 0 30%;
    --underline-gap: 1em;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
    z-index: 1000;
  }
  
  .nav-button {
    display: block;
    background-color: transparent;
    border: none;
    padding: 1.3em;
    position: absolute;
    right: 1em;
    z-index: 1001;
  }
  .logo {
    padding: 1em 0;
    width: 40px;
  }

}



@media(min-width: 35rem) and (max-width:56rem) {

  .primary-header {
    padding-right: 0;
    --gap: 2em;
  }
  .primary-navigation span {
    display: none;
  }

}
.primary-navigation {
  padding-inline: 2em;
}

@media(min-width:56rem) {

  .primary-header {
    padding-right: 0;
    --gap: 2em;
  }

  .primary-navigation {
    --gap: clamp(1em, 15vw, 4em );
  }

  .logo {
    order: -2
  }
  .opened-navigation span {
    display: inline;
  }
  .primary-header::before {
    content: "";
    height: 1px;
    background-color: hsl(var(--color-light) / .5);
    position: relative;
    order:-1;
    align-self: center;
    width: 100%;
    margin-right: -3em;
    z-index: 10000;
  }
}

/* 
***************
*** Layouts ***
*************** 
*/

/* Page backgrounds */
.backgrounds {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}
/* Mobile */
  .home {
    background-image: url(/assets/home/background-home-mobile.jpg);
  }
  .destination {
    background-image: url(/assets/destination/background-destination-mobile.jpg);
  }
  .crew {
    background-image: url(/assets/crew/background-crew-mobile.jpg);
  }
  .technology {
    background-image: url(/assets/technology/background-technology-mobile.jpg);
  }

/* Tablet */
@media(min-width:35rem) {
  .home {
    background-image: url(/assets/home/background-home-tablet.jpg);
  }
  .destination {
    background-image: url(/assets/destination/background-destination-tablet.jpg);
  }
  .crew {
    background-image: url(/assets/crew/background-crew-tablet.jpg);
  }
  .technology {
    background-image: url(/assets/technology/background-technology-tablet.jpg);
  }
}

/* Desktop */
@media(min-width:56rem) {
  .home {
    background-image: url(/assets/home/background-home-desktop.jpg);
  }
  .destination {
    background-image: url(/assets/destination/background-destination-desktop.jpg);
  }
  .crew {
    background-image: url(/assets/crew/background-crew-desktop.jpg);
  }
  .technology {
    background-image: url(/assets/technology/background-technology-desktop.jpg);
  }
}

/* Home */

.home main {
  
  margin-top: 5em;
  text-align: center;
  --gap: 1em
}

.grid--home {
  grid-template-areas: 
    "title"
    "content"
    "button";
  --flow-space: 0rem
}
.grid--home h1 {
  grid-area: title;
  line-height: 1.3;
}

.grid--home p {
  grid-area: content;
}



.grid--home > * {
  font-weight: 400;

}

.grid--home .explore-button {
  grid-area: button;
  margin-top: clamp(0.1px, 7vh, 5rem);
}

.grid--home > h1 {
    justify-self: center;
}

@media(max-width:35rem) {
  .home main {
    margin-top: 2em;
  }

  .grid--home {
    --flow-space: 0vh;
    place-items: center;
  
  }

}

@media (min-width:56rem) {

  .grid--home {
    text-align: start;
    grid-template-areas: 
    ". title button ."
    ". content button .";
    place-items: center;
    --flow-space: 2rem
  }

  .grid--home h1 {
    justify-self: start;
  }
  .grid > p {
    max-width: 100%;
    line-height: 32px;
  }
  .explore-button {
    align-self: end;
    justify-self: end;
  }
}

/* Destination */

.destination {
  margin-bottom: 2rem;
}

.grid--destination > picture {
  grid-area: image;
  width: 50%;
}
.grid--destination > .tabs-indicators {
  grid-area: indicators
}

.grid--destination .flex--column {
  justify-content: center;
  border-top: 1px solid hsl(var(--color-white) /.2);
  margin-block: 1rem;
  padding-block: 1rem;
  
}

@media(min-width:35rem) {
  .grid--destination .flex--column {
    flex-direction: row;
    --flow-space: 0;
    --gap: 5rem;
  }

}

@media(min-width:56rem) {
  .grid--destination {
    grid-template-areas:
    ". title title ." 
    ". image indicators ."
    ". image content .";
    place-items: start;
    --flow-space: 0rem;
  }
  .grid--destination > picture {
    width: 90%;
    align-self: start;
  }
  .grid--destination .flex--column {
    justify-content: start;

  }
}
  
/* Technology */

.grid--technology > img {
  grid-area: image;
  width: 100%;
  height: 100%;
 }


.grid--technology > .buttons-indicators {
  grid-area: indicators;
}

.grid--technology > article > h2 > span {
  display: block;
}

@media(min-width:56rem) {
  .grid--technology .buttons-indicators {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-self: start;
    margin-left: 2rem;
  }

  .grid--technology {
    grid-template-columns: 2rem 6.25rem 3fr 2fr;
    grid-template-areas: 
      ". title title ."
      ". indicators content image"
      ". indicators content image";
  }
  .grid--technology > article > h2 > span {
    font-size: min(3.5rem, 4.6vw);
  }

  .container--technology {
    margin-inline: auto;
    padding-inline: 2rem;
    max-width: 90rem;
  }
}

/* Crew */
.grid--crew h2 span {
  display: block;
}

.crew--underline {
  grid-area: image;
  border-bottom: 1px solid hsl(var(--color-light) / .3);
}

.grid--crew img {
  width: 60%;
  margin-inline: auto;
}

.grid--crew > .dots-indicators {
  grid-area: indicators;
}

.grid--crew h2 {
  color: hsl(var(--color-white) /0.4);
}
.grid--crew h2 span {
  color: hsl(var(--color-white) / 1);
}


@media(min-width:56rem) { 
  .grid--crew {
    grid-template-areas: 
      ". title image ."
      ". content image ."
      ". indicators image .";
      place-items: start;
      grid-template-rows: 100px auto auto;
  }
  .grid--crew img {
    width: 100%;
  }
  .crew--underline {
    align-self: end;
    justify-self: end;
    
  }
  .grid--crew > .dots-indicators {
    justify-self: start;
    align-self: end;
  }
  .grid--crew article {
    justify-self: start;
    align-self: start;
  }

  .grid--crew article > h2 > span {
    font-size: min(3.5rem, 4.2vw);
    line-height: 1.4;
  }
  
}